<div class="wrapper wrapper-content">
    <div class="row">

        <!-- menu -->
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">

                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail" href="mail_compose.html">Nouveau Mail</a>

                        <div class="space-25"></div>
                        <h5>E-mails</h5>

                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a href="mailbox.html"> <i class="fa fa-inbox "></i>Boite de réception</a></li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- List -->

        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">

                <form method="get" action="index.html" class="pull-right mail-search">

                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="search" placeholder="Search email">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Search
                            </button>
                        </div>
                    </div>

                </form>
                <h2>
                    Boite de réception
                </h2>
            </div>

            <div class="mail-box">

                <table class="table table-hover table-mail">
                    <tbody>

                        <tr class="unread">
                            <td class="check-mail">
                                <input type="checkbox" class="i-checks">
                            </td>
                            <td class="mail-ontact"><a href="mail_detail.html">Anna Smith</a></td>
                            <td class="mail-subject"><a href="mail_detail.html">Lorem ipsum dolor noretek
                                    imit set.</a></td>
                            <td class=""><i class="fa fa-paperclip"></i></td>
                            <td class="text-right mail-date">6.10 AM</td>
                        </tr>

                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>