<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Liste des réservations</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            
            <li class="active">
                <strong>liste réservation</strong>
            </li>
        </ol>
    </div>

</div>



<!-- Tableau vehicules -->

<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <!-- search -->
                    <!-- <mat-form-field floatLabel="always" style="width: 100%">
                        <input matInput placeholder="Entrez une mot clé...">
                    </mat-form-field> -->
                    <!--  -->

                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15" *ngIf="sortData">
                        <thead>
                            <tr>
                                <th data-hide="number">Numéro</th>
                                <th data-hide="startDate">Date de début</th>
                                <th data-hide="endDate">Date de fin</th>
                                <th data-hide="status">Statut</th>
                                <th data-hide="depot">Dépôt</th>
                                <th data-hide="vehicleName">Vehicule</th>
                                <th data-hide="client">Client</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="select" *ngFor="let booking of sortData"
                                [routerLink]="['/bookings/detail', booking.id]">
                                <td>
                                    {{ booking.number }}
                                </td>
                                <td>
                                    {{ booking.startDate | date: 'dd/MM/yyyy' }}
                                </td>
                                <td>
                                    {{ booking.endDate | date: 'dd/MM/yyyy' }}
                                </td>
                                <td>
                                    <p>
                                        <span
                                            [ngClass]="{'label-primary': booking.status=='En cours', 'label-info': booking.status=='Réservé', 'label-default': booking.status=='Terminé', 'label-danger': booking.status=='Annulé'}"
                                            class="label">
                                            {{ booking.status }}
                                        </span>
                                    </p>
                                </td>
                                <td>
                                    {{ booking.depot.name }}
                                </td>
                                <td>
                                    {{ booking.vehicle.model.brand.name }} {{ booking.vehicle.model.name }}
                                </td>
                                <td>
                                    {{ booking.client.firstName }} {{ booking.client.surname }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>